/* main device */

@media screen and (max-width: 1500px) {

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-img {
        width: 80%;
        margin-top: 40px;
    }

    .btn-section {
        justify-content: center;
        margin-top: 40px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .card {
        width: 80%;
        padding: 50px 30px;
        padding-top: 10px;

    }

    .destination-card-container {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 35px;
        justify-content: center;
    }

    .card-container2 img {
        width: 100%;
    }


    #book-trip-container {
        flex-direction: column;
        justify-content: center;
    }

    .trip-detail {
        margin: 50px auto;
        margin-top: 100px;
        /* margin-right: 240px; */
    }

    .trip-content h2 {
        text-align: center;
    }

    .comment-container {
        margin-right: 0;
    }

    #testimonial-container {
        gap: 50px;
    }

    .subscribe-heading {
        font-size: 14px;
        font-weight: 500;
    }

    .footer {
        padding: 0;
    }

}

/* tablet device */

@media screen and (max-width:1024px) {

    .hero-content h1 {
        font-size: 55px;
    }

    .hero-img {
        width: 100%;
        margin: 40px auto;
    }

    .hero-img img {
        width: 400px;
    }

    .service-content h1,
    .trip-content h2 {
        font-size: 40px;
    }

    #testimonial-container {
        flex-direction: column;
    }

    .testimonial {
        text-align: center;
    }

    .subscribe-form {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-button {
        background-image: linear-gradient(#FF946D, #FF7D68);
        /* width: 60%; */
        padding: 15px 30px;

    }

    .footer {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        gap: 30px;
    }

    .about-section h3,
    .contact-section h3,
    .more-section h3 {
        margin-bottom: 5px;
    }

}

/* mobile device */

@media screen and (max-width:640px) {

    .hero-section {
        margin: 25px auto;
    }

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-img img {
        width: 300px;
    }

    .hero-section {
        padding: 50px 25px;
    }

    .btn {
        font-size: 15px;
        padding: 8px 16px;
    }

    .playbtn {
        font-size: 15px;
        padding: 8px 16px;
    }
    .service-content h1, .trip-content h2 {
        font-size: 30px;
    }

        .destination-card-container {
        display:flex;
        flex-direction: column;
        gap: 35px;
        justify-content: center;
    }

        .trip-content h2 {
        font-size: 25px;
    }

    #book-trip-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial h2 {
    font-size: 30px;
}

#testimonial-container {
    padding: 40px;
}
.comment-container {
    padding: 20px;
}

#subscribe-container{
    padding: 20px;
    border-radius: 20px;
}
    .subscribe-heading {
        font-size: 10px;
        font-weight: 500;
        margin-top: 50px;
    }

    .subscribe-form .email-input {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 80px;
    border: none;
}

.subscribe-button{
    width: 250px;
}

}